body {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 0;
        animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

}

.container {
  padding: 20px;
  @media(min-width: 767px) {
  padding: 40px;

  }
}

h1, p, a {
  font-size: 32px;
  letter-spacing: 0.1px;
  text-decoration: none;
  color: black;
  margin: 0;
  cursor: pointer;
  @media(min-width: 767px) {
     font-size: 64px;
  }
}





.dot {
  padding-bottom: 20px;
    @media(min-width: 767px) {
     padding-bottom: 40px;
 
  }
}

.info-container {
  display: flex;
  flex-direction: column;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}